fastapi[standard]
sqlalchemy
alembic
psycopg2
psycopg2-binary
uvicorn
pydantic
pydantic-settings
python-multipart
websockets
redis
python-dotenv
logfire[fastapi]
logfire[psycopg2]
logfire[redis]
logfire[sqlalchemy]
logfire[system-metrics]
